@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Helios';
    src: url('assets/fonts/helios-regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}